/* Header */

.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100; /* priority to make nothing show above it */
}

.header_logo {
  width: 100px;
  /* don't change the logo size when window resizing */
  object-fit: contain;
  /* 0 top and bottom margin 20px leaft and right margin */
  margin: 0 20px;
  margin-top: 18px;
}

.header_nav {
  display: flex;
  justify-content: space-evenly;
}

.header_link {
  color: white;
  text-decoration: none;
}

.header_search {
  display: flex;
  flex: 1;
}

.header_searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header_searchIcon {
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.headerNav {
  display: flex;
}

.header_option {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
}

.header_optionLineOne {
  font-size: 10px;
}

.header_optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header_optionCart {
  display: flex;
  align-items: center;
}

.header_Cart {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_cartCount {
  margin: 0 10px;
}

/* Banner */
